html, body {
    background-color: #232323;
    color: #FFFFFF;
    margin: 0%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.name-text {
    font-size: 24px;
}

.red-text {
    color: #F33B3B;
}

.cv-btn {
    background-color: #F33B3B;
    padding: 0.5%;
    border-radius: 2px;
}

#introduction-container {
    margin-left: 3.5%;
    padding-right: 55%;
}

h1 {
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 0%;
}

.frontend-text {
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 0%;
}

#flex-btn {
    display: flex;
}

.red-btn {
    background-color: #F33B3B;
    margin: 0% 3% 14% 0%;
    padding: 0.5%;
    border-radius: 5px;
}

.white-btn {
    background-color: #FFFFFF;
    color: #232323;
    margin: 0% 0% 14% 0%;
    padding: 0.5%;
    border-radius: 5px;
}

#aboutMe-container {
    display: flex;
    margin-bottom: 5%;
}

.aboutMe-img {
    margin-left: 3.5%;
    margin-right: 4%;
}

img {
    border-radius: 8px;
}

.aboutMe > h2 {
    margin-top: 0%;
}

.aboutMe {
    padding-right: 23%;
}

.hobby-list > ul {
    padding: 0%;
    list-style: none;
    font-weight: bold;
}

#projects-container > h2 {
    text-align: center;
    margin-bottom: 4%;
}

.flex-projects {
    display: flex;
    justify-content: space-evenly;
}

.project {
    background-color: #F33B3B;
    width: 350px;
    height: 350px;
    border-radius: 16px;
}

#contact-container {
    margin-top: 5%;
    text-align: center;

}

.flex-contact {
    display: flex;
    justify-content: center;
}

.contact-btn {
    background-color: #F33B3B;
    margin-left: 2%;
    padding: 0.4%;
    border-radius: 5px;
}

.myName {
    text-align: center;
    margin-top: 5%;
    font-size: 24px;
}

.copyright-container {
    background-color: #F33B3B;
    width: 100%;
    height: 100%;
}

.copyright-container > p {
    align-items: center;
    text-align: center;
    margin: 0%;
    padding: 0.5%;
    
}
