/* colors for the page (in darkmode) */
:root {
    --base-color: #232323;
    --text-color: #FFFFFF;
    --red-color: #F33B3B;
    --white-color: #FFFFFF;
    --special-btn-color: #FFFFFF;
    --special-btn-textColor: #232323;
    --toggleSwitch-color: #FFFFFF;
    --bar-color: #FFFFFF;
    --bar-color-red: #F33B3B;
}

/* Lightmode colors */
.light-mode {
    --base-color: #FFFFFF;
    --text-color: #232323;
    --special-btn-color: #232323;
    --special-btn-textColor: #FFFFFF;
    --toggleSwitch-color: #232323;
    --bar-color: #232323;
    --bar-color-red: #F33B3B;
}

/* html, and body adjustments, with a smooth scroll */
html, body {
    margin: 0;
    background-color: var(--base-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}


/* nav adjustments */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

/* Name in nav adjustments */
.name-text {
    font-size: 24px;
}

.red-text {
    color: var(--red-color);
}

/* a tag in nav adjustments */
a {
    color: var(--text-color);
    text-decoration: none;
}

/* CV button adjustmenst */
.cv-btn {
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 0.5%;
    border-radius: 2px;
}

/* ToggleSwitch between dark and lightmode adjustments */
#toggleSwitch {
    padding: 0;
    border: none;
    background-color: var(--base-color);
}   

/* Icon color */
#toggleSwitch svg {
    fill: var(--toggleSwitch-color);
}

/* do not display sun on dark-mode */
#toggleSwitch svg:last-child {
    display: none;
}

#toggleSwitch svg:first-child:hover {
    display: block;
    fill: var(--red-color);
}
/* lighmode - do not show moon on page*/
.light-mode #toggleSwitch svg:first-child {
    display: none;
}

.light-mode #toggleSwitch svg:last-child {
    display: block;
}

.light-mode #toggleSwitch svg:last-child:hover {
    display: block;
    fill: var(--red-color);
}


/* introduction container adjustments */
#introduction-container {
    margin-left: 3.5%;
    padding-right: 55%;
    font-weight: bold;
}

/* h1 in introduction container adjustments */
h1 {
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 0%;
}

/* text adjustments in introduction container */
.frontend-text {
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 0%;
}

/* flex buttons in introduction container */
#flex-btn {
    display: flex;
}

/* Hire me button adjustments in introduction container */
.red-btn {
    background-color: var(--red-color);
    color: var(--white-color);
    margin: 0% 3% 14% 0%;
    padding: 0.5%;
    border-radius: 5px;
}

/* Contact me button adjustments in introduction container */
.white-btn {
    background-color: var(--special-btn-color);
    color: var(--special-btn-textColor);
    margin: 0% 0% 14% 0%;
    padding: 0.5%;
    border-radius: 5px;
}


/* aboutMe container adjustments */
#aboutMe-container {
    display: flex;
    margin-bottom: 5%;
}

/* aboutMe-img adjustments */
.aboutMe-img {
    margin-left: 3.5%;
    margin-right: 4%;
}

/* img adjustments */
img {
    max-width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* aboutMe adjustments */
.aboutMe {
    padding-right: 45%;
}

/* aboutMe h2 adjustments */
.aboutMe > h2 {
    margin-top: 0%;
}

/* hobby-list ul adjustments */
#hobby-container {
    padding: 0%;
}

.hobby-list {
    font-weight: bold;
}

/* bar container adjustments*/
.bar-container {
    background-color: var(--bar-color);
    width: 70%;
    height: 20px;
    border-radius: 10px;
}

/* red bar adjustments*/
.red-bar {
    background-color: var(--bar-color-red);
    height: 20px;
    width: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* projects container adjustment */
#projects-container > h2 {
    text-align: center;
    margin-bottom: 4%;
}

/* flex-projects adjustment */
.flex-projects {
    display: flex;
    justify-content: space-evenly;
}

/* project adjustments */
.project {
    background-color: var(--red-color);
    width: 350px;
    height: 350px;
    border-radius: 16px;
}

/* contact-container adjustments */
#contact-container {
    margin-top: 5%;
    text-align: center;

}

/* flex contact adjustments */
.flex-contact {
    display: flex;
    justify-content: center;
}

/* contact button adjustments */
.contact-btn {
    background-color: var(--red-color);
    color: var(--white-color);
    font-weight: bold;
    margin-left: 2%;
    padding: 0.4%;
    border-radius: 5px;
}

/* myName adjustments */
.myName {
    text-align: center;
    margin-top: 5%;
    font-size: 24px;
    font-weight: bold;
}

/* scroll up adjustments */
#scroll-up {
    display: flex;
    flex-direction: row-reverse;
}
/*scroll btn adjustments*/
.scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: var(--special-btn-color);
    border: none;
    border-radius: 5px;
    display: none; 
}
/* scroll btn on hover adjustments*/
 .scroll-btn:hover {
    background-color: var(--red-color);
    fill: var(--white-color);
} 

/* Light-mode-btn adjustments*/
.light-mode-btn {
    fill: var(--special-btn-textColor);
}

/*dark-mode-btn adjustments*/
.dark-mode-btn:hover {
    fill: var(--white-color);
}

/* copyright container adjustments */
.copyright-container {
    background-color: var(--red-color);
    color: var(--white-color);
    width: 100%;
    height: 100%;
}

/* copyright container p tags adjustments */
.copyright-container > p {
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin: 0%;
    padding: 0.5%;
    
}
